Django<1.7
psycopg2
Pillow
gunicorn
honcho
south
dj-database-url
-e git+https://github.com/kennethreitz/dj-static#egg=dj_static
django-extensions
django-compressor
django-debug-toolbar
django-auth-ldap
django-nose
django-leaflet
django-swingers
django-jenkins
pep8
flake8
factory-boy
selenium
unicodecsv
pyephem
-e hg+https://bitbucket.org/david/django-storages#egg=storages
boto
django-storages
arrow
djangorestframework
markdown
django-filter
celery-with-redis
django-celery
openpyxl
