{% extends "base_penguins.html" %}

{% block page_content_inner %}
<h1>Information and method to count Little Penguins</h1>
<p><strong>The Department of Parks and Wildlife would like to acknowledge the NSW Foundation for the National Parks and Wildlife and the Australian Geographic Society for their support</strong></p>
<h2><strong>Background Information</strong></h2>
<p>Why do we monitor Little Penguins?</p>
<p>Penguin Island supports the largest colony of Little Penguins (scientific name is <em>Eudyptula minor</em>) in Western Australia, and may contain up to 500 breeding pairs. During the breeding season, the male and female share incubation and chick rearing duties, with incubation shifts typically lasting an average of 3 to 4 days. Incubation of eggs takes approximately 35 days before the chicks hatch. </p>
<p><img alt="&quot;Hatched_Chick&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/Hatched_Chick.png" /></p>
<p>For the first three weeks after hatching, the chicks are guarded by at least one of the parents in one to two day shifts. During these shifts, the other parent goes to sea to forage and returns at dusk, tending to come ashore in small groups.</p>
<p>It is important to understand the health of individual penguins and the numbers returning to Penguin Island during the breeding season. This information is highly valuable and helps to get an on-going assessment of nesting population health and manage any potential decrease in Little Penguin numbers.</p>
<p>Scientists monitoring penguin breeding success and individual health also use infrared cameras to non-invasively record the number of Little Penguins returning to the island at key locations. This is very useful, and allows scientists to make informed management decisions; it also generates a lot of videos to watch!</p>
<p>Thanks to this project, citizen scientists will be able to turn the videos of Penguin Island’s penguins into real data and help detect any decrease in the numbers of Little Penguins returning to their natural nesting location on Penguin Island. </p>
<p>Before we embark on counting penguins there are a few really important things you will need to know so we can make certain that we collect accurate data. Like any scientific study the results are only as good as the data we acquire....</p>
<h2><strong>Choosing a video</strong></h2>
<p>Please refer to this page often, as all the information you will need is below. The help page is a great resource :)...</p>
<p>Upon entering the site you will be presented with the following page:</p>
<p>In order, these sections are:</p>
<ol>
    <li>Sites with available camera footage* (Administrators and approved users will be able to view more cameras)</li>
    <li>A map outlining the locations and number of videos</li>
    <li>Graphed statistics derived from the penguin count.</li>
</ol>
<p>To start viewing videos so you can count penguins, you will need to choose a site by clicking on (1) the site list on the left, or (2) the penguin-marker on the map, and then on the name of the site in the little speech bubble that appears above the penguin.</p>
<p><img alt="&quot;front page&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/First_Page_small.png" /></p>
<p>Once this is done you will find yourself at a page with a video list that looks like the following;-</p>
<p><img alt="&quot;Video selection page&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/Video_selection_page.png" /></p>
<p>This page lists the following things.</p>
<ol>
    <li>The date of the video with a link to the video itself.</li>
    <li>The start time of the video.</li>
    <li>The end time of the video.</li>
    <li>How many views the video has received.</li>
    <li>Whether the video has been completed (<img alt="&quot;tick&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/tick.png" />) or not (<img alt="&quot;cross&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/cross.png" />)</li>
</ol>
<p>Please select a video that A) has not already been completed (<img alt="&quot;cross&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/cross.png" />), and B) has the lowest number of views.There are many videos so scroll down to view</p>
<p>When you have decided which video to view, click the blue link in the first column and you will be taken to the following screen.</p>
<p><img alt="&quot;watch video&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2014/08/18/penguin_video.png" /></p>
<p>The video itself will be time-compressed so that an hour of observations will be approximately 15 minutes due to the way the video was recorded in time-lapse. </p>
<h2><strong>Counting Little Penguins</strong></h2>
<p>Note: The counting method is different for the two different cameras due to the field of view. Penguins will move quickly from the water to the boardwalk so be as vigilant as possible. </p>
<p><strong>The North-Pole camera</strong> "not really the North Pole, just a camera on the north of the island"</p>
<ul>
    <li>When a "group" of penguins appear please wait until the middle penguin is in the centre of the beach and then pause the video.</li>
    <li>Count the total number of Little Penguins in that group. Scroll back and forwards to assist in counting. </li>
    <li>Sometimes it is difficult to accurately count penguins when they are in a large group. A trick is to scroll to a point that allows you to begin counting the first penguin, then push play. <strong>If you push the period "." button whilst hovering your mouse over the video, the video will automatically return to the last point you scrolled to.</strong> </li>
</ul>
<p><img alt="&quot;Counting_North_Pole_small&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/Counting_North_Pole_small.png" /></p>
<p><strong>- Please only count those coming up the beach from the water not coming out of the bushes or from under the boardwalk.</strong></p>
<p><strong>The South-Pole camera</strong> "Again not really the South Pole :)"</p>
<p>Please only count penguins that have come up the stairs and add the observation when they reach the top step. If a group returns and they are making their way up the steps please wait until the middle penguin is at the top step. Do not count those coming out of the bushes and such because they will already have been counted or are waiting for a friend to arrive.</p>
<p><img alt="&quot;Counting_South_Pole&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/Counting_South_Pole.png" /></p>
<p><strong>Essentially, an analogy would be if we wanted to know the number of people at an airport who returned home that day we would count only those coming off of planes, not how many are loitering or coming from the car park.</strong> </p>

<h2>How to add an observation</h2>
<p>Press "Add observation",</p>
<ol>
    <li>Ignoring the seconds, set the time field exactly as written on the time-stamp on the top or bottom of the video to the minute.</li>
</ol>
<p><img alt="&quot;adding_observation_time_small&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/adding_observation_time_small.png" /></p>
<ol>
<li>Type in the number of new penguins you see on screen. Be <strong>careful</strong> not to include seagulls or other bird life. Penguins are distinctive by their larger bodies, black back and white breast, and the way they waddle so you should not have too much trouble telling them apart.</li>
</ol>
<p><img alt="adding_observation_count" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/adding_observation_count.png" /></p>
<ol>
    <li>If necessary leave a description to help explain your observation if it needs to be reviewed, particularly if you are unsure and would like a reviewer to double check your work, otherwise leave it blank.</li>
    <li><strong>Do not touch the "video position" counter. This field tells the system where in the video you saw this observation.</strong></li>
    <li>Click "Save observation".</li>
</ol>
<p><img alt="&quot;Saving_Observation&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/Saving_Observation.png" /></p>
<p>Afterwards press on the play button on video to resume watching. </p>
<p><strong>To delete an observation, you will need to reload the page and select your observation to delete.</strong> </p>
<p>You can return to a previous observation by clicking on the position number on the list of observations below. This will usually take you to a time slightly before the observation.</p>
<h2><strong>Completing the video</strong></h2>
<p>When you have finished watching the video click the green "Mark Finished" button that will appear. It will not be visible until the video is completed. This indicates to the system you have watched the complete video and you have counted all the penguins.The system will then accept the counts. <strong>Please remember to push this button only upon completion of the video.</strong></p>
<p><img alt="&quot;Mark_Finished_small&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/Mark_Finished_small.png" /></p>
<p>If you are done watching the video have completed it, it will inform you of that too. And if you have any further questions please contact DBCA at <a href="mailto:oim.servicedesk@dbca.wa.gov.au">oim.servicedesk@dbca.wa.gov.au</a></p>
<p><img alt="&quot;Penguin Erin Clithero&quot;" src="https://dbcapenguinsdata.blob.core.windows.net/beach-return-cams/flatpage/2016/05/02/Penguin_Erin_Clithero.png" /></p>
<p>Photo: Erin Clithero</p>
{% endblock %}
