{% extends "base_penguins.html" %}
{% load static %}
{% block page_content_inner %}
    <div class="row">
        <div class="col">
            <h1>Little Penguins - Privacy notice</h1>
            <p>
                This privacy notice sets out how we collect, use and disclose personal information collected through the Little Penguins Observations website.
            </p>
            <p>
                The Department of Biodiversity, Conservation and Attractions (DBCA) collects this personal information to have a record of:
            </p>
            <ul>
                <li>Who has logged into the website</li>
                <li>Who has recorded observations of Little Penguins in videos</li>
            </ul>
            <p>The only personal information we collect is first name, last name and email address.</p>
            <p>
                We may share this information with other organisations involved in penguin conservation to clarify any data recorded.
            </p>
            <p>
                For further details on how DBCA manages your personal information, you can read our <a href="https://www.dbca.wa.gov.au/about-us/legislation/corporate-policies"
    target="_blank">Privacy Policy</a>. If you have any questions about how your personal information will be handled or if you would like to access your personal information, please contact <a href="mailto:privacy@dbca.wa.gov.au">privacy@dbca.wa.gov.au</a>.
            </p>
        </div>
    </div>
{% endblock %}
