{% extends "base_penguins.html" %}
{% load static %}
{% block page_content_inner %}
    <div class="row">
        <div class="col">
            <h1>Collection Notice Disclaimer</h1>
            <p>
                The Department of Biodiversity, Conservation and Attractions (DBCA) collects personal information within the Little Penguins system to facilitate:
            </p>
            <ul>
                <li>Management of user accounts and system access</li>
                <li>Response to enquiries and provision of support</li>
            </ul>
            <p>
                We may share this information with DBCA staff, contractors, and service providers where necessary and appropriate to operate and support the system.
                Providing certain personal information is necessary for DBCA to respond to your enquiries or provide the requested support.
            </p>
            <p>For more information, see the DBCA Privacy Policy or contact privacy@dbca.wa.gov.au.</p>
            <p>
                For more information, see the <a href="https://www.dbca.wa.gov.au/about-us/legislation/corporate-policies"
    target="_blank">Privacy Policy</a> or contact <a href="mailto:privacy@dbca.wa.gov.au">privacy@dbca.wa.gov.au</a>.
            </p>
        </div>
    </div>
{% endblock %}
