{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} detail{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
  <li>{% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
  <li>{{ original|truncatewords:"18" }}</li>
</ol>
{% endblock %}
{% endif %}

{% block navbar %}
{% include 'admin/navbar.html' %}
{% endblock navbar %}

{% block content %}
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <div class="btn-toolbar">
    {% block object-tools-items %}
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="btn btn-default"><span class="glyphicon glyphicon-time"></span> {% trans "History" %}</a>
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </div>
{% endif %}{% endif %}
{% endblock %}

<h3>{{ video_count }} videos</h3>

<div class="pagination">
    <span class="step-links">
        {% if videos.has_previous %}
        <a href="?page={{ videos.previous_page_number }}">
            <i class="glyphicon glyphicon-backward"></i>
            Previous
        </a>
        {% endif %}

        <span class="current">
            Page {{ videos.number }} of {{ videos.paginator.num_pages }}
        </span>

        {% if videos.has_next %}
        <a href="?page={{ videos.next_page_number }}">
            Next
            <i class="glyphicon glyphicon-forward"></i>
        </a>
        {% endif %}
    </span>
</div>

<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Start time</th>
          <th>End time</th>
          <th>Views</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
      {% for video in videos %}
        <tr>
          <td>{% if can_add_observations %}<a href="{% url 'admin:observations_video_detail' video.pk %}">{{ video.date }}</a>{% else %}{{ video.date }}{% endif %}</td>
          <td>{{ video.start_time }}</td>
          <td>{{ video.end_time }}</td>
          <td>{{ video.views }}</td>
          <td>{% if video.mark_complete %}<span class="glyphicon glyphicon-ok" style="color:green"></span>{% else %}<span class="glyphicon glyphicon-remove" style="color:red"></span>{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if videos.has_previous %}
        <a href="?page={{ videos.previous_page_number }}">
            <i class="glyphicon glyphicon-backward"></i>
            Previous
        </a>
        {% endif %}

        <span class="current">
            Page {{ videos.number }} of {{ videos.paginator.num_pages }}
        </span>

        {% if videos.has_next %}
        <a href="?page={{ videos.next_page_number }}">
            Next
            <i class="glyphicon glyphicon-forward"></i>
        </a>
        {% endif %}
    </span>
</div>

{% endblock %}
