apiVersion: apps/v1
kind: Deployment
metadata:
  name: penguins-deployment
spec:
  template:
    spec:
      containers:
        - name: penguins
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: penguins-env-prod
