{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify tz %}

{% block extrahead %}{{ block.super }}
{{ media }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datetimepicker.min.css" %}" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/flowplayer/5.4.3/skin/minimalist.css">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} detail{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
  <li>{% if has_change_permission %}<a href="{% url 'admin:observations_site_changelist' %}">Sites</a>{% else %}Sites{% endif %}</li>
  <li><a href="{% url 'admin:observations_site_detail' original.camera.site.id %}">{{ original.camera.site.name }}</a></li>
  <li>View video ({{ original.date|date:"d-m-Y" }} {{ original.start_time|time:"H:i" }}-{{ original.end_time|time:"H:i" }})</li>
</ol>
{% endblock %}
{% endif %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="{% url "admin:index" %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            {% if user.is_superuser %}

  <li class="active"><a href="{% url "admin:observations_site_changelist" %}"><span class="glyphicon glyphicon-map-marker"></span> Sites</a></li>
  <li><a href="{% url "admin:observations_video_changelist" %}"><span class="glyphicon glyphicon-facetime-video"></span> Videos</a></li>
  <li><a href="{% url "admin:observations_penguinobservation_changelist" %}"><span class="glyphicon glyphicon-eye-open"></span> Observations</a></li>
  <li><a href="{% url "admin:observations_penguincount_changelist" %}"><span class="glyphicon glyphicon-check"></span> Penguin count</a></li>
  <li><a href="{% url "admin:observations_penguinuser_changelist" %}"><span class="glyphicon glyphicon-user"></span> Users</a></li>
  {% endif %}
   <li><a href="/help/"><span class="glyphicon glypthicon-question-sign"></span>Help </a>

</ul>
{% endblock %}

{% block content %}
<div class="alert alert-info">
   <button type="button" class="close" data-dismiss="alert">&times;</button>
  <b>Please note:</b> Video observations will NOT be counted until you have finished watching the video until the end and pressed the "Mark Finished" button. If you recieve an error saying the video file can not be found, try reloading the page one or two times, or try a different browser. There are known issues with firefox's video playback.
</div>
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <div class="btn-toolbar">
    {% block object-tools-items %}
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="btn btn-default"><span class="glyphicon glyphicon-time"></span> {% trans "History" %}</a>
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}  
  </div>
{% endif %}{% endif %}
{% endblock %}

<div id="video">
<div class="well" style="margin-bottom:5px !important;">Hold the mouse over the window and press ? , to get help. Press HELP on the menu above to recieve more general instructions.</div>

<div data-embed="false" class="flowplayer is-splash color-alt no-background no-volume no-mute" style="width:982px;height:552px;">
   <video preload poster >
   <source src="{{ original.file.url }}"></video>
</div>
<div class="well"><span id="counter">Video Not started</span>
    <span class="pull-right">
    {% if original.mark_complete = True %}
      {% if user in original.completed_by.all %}
        You have completed this video.
      {% else %}
      {{ original.completed_by.count }} Reviewers have completed this video.
    {% endif %}
    {% endif %}
  </span>
</div>
</div>

</br>


<script>



</script>



<div class="row">
  <div class="col-xs-6 col-md-6">
    <h3>Your observations for this video</h3>
  </div>
  <div class="col-xs-6 col-md-6 object-tools">
    <span class="pull-right">
      {% if user in original.completed_by.all %}
      {% else %}
    <button id ="markdone" type="button" class="btn btn-success" role="button" style="display:none" onClick="markDone({{ original.pk }})"><span class="glyphicon glyphicon-thumbs-up"></span>Mark Finished</button>
    {% endif %}
 <a class="btn btn-primary" href="{{ original.file.url }}"><span class="glyphicon glyphicon-facetime-video"></span> Download Video</a>
  <button type="button" class="btn btn-primary" role="button" data-target="#addform" data-toggle="modal" onClick="formFillin();"><span class="glyphicon glyphicon-plus"></span> Add observation</button>
    </span>
  </div>
</div>
<table id="observations" class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Penguins seen</th>
      <th>Comments</th>
      <th>Position</th>
      <th>Action</th>
    </tr>
  <thead>
  <tbody>
  {% for observation in user_observations %}
    <tr id="row_{{ observation.pk }}">
      <td>{{ observation.date|localtime|time:"H:i" }}</td>
      <td>{{ observation.seen }}</td>
      <td>{{ observation.comments }}</td>
      <td><a onClick="flowplayer().seek( {{ observation.position }} );">{{ observation.position }}</a></td>
      <td><a onClick="deleteObservation({{ observation.pk }})" class="btn btn-danger">Delete</a>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div id="addform" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add an observation</h4>
        {% if user in original.completed_by.all %}
                  <div class="alert alert-success"><b>Please note</b>: This video will automatically be marked as valid as  you have already marked this video as viewed. Please ensure you are not doubling up observations!!!!!</div>
        {% else %}
          <div class="alert alert-info"><b>Please note</b>: You will need to watch the ENTIRE video, and press the "Mark watched" button at the end, or these observations will NOT be counted in the final research.</div>
        {% endif %}
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="add-form" role="form" data-parsley-validate>{% csrf_token %}
          <div class="form-group">
            <label for="id_time" class="col-sm-2 control-label required">Time</label>
            <div class="col-sm-10">
              <div class="input-group bootstrap-timepicker">
                <input type="text" class="form-control" id="id_time" data-date-format="HH:mm" required>
                <span class="input-group-addon glyphicon glyphicon-time"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="id_seen" class="col-sm-2 control-label required">Penguins seen</label>
            <div class="col-sm-10">
               <div class="input-group">
                <input type="text" class="form-control" id="id_seen" min="1" max="100" required  autocomplete="off">
                <span class="input-group-addon glyphicon glyphicon-eye-open"></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="id_comments" class="col-sm-2 control-label">Comments</label>
            <div class="col-sm-10">
              <textarea id="id_comments" class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="id_position" class="col-sm-2 control-label">Video Position</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input id="id_position" class="form-control" type="text">
                <span class="input-group-addon glyphicon glyphicon-camera"></span>
                <input id="id_video" type="hidden" name="video" value="{{ original.pk }}">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="save" type="submit" class="btn btn-primary" data-loading-text="Saving...">Save observation</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/parsley.min.js' %}"></script>
<script src="//cdn.jsdelivr.net/flowplayer/5.4.3/flowplayer.min.js"></script>
<script>
  //Global

  var time = 0;


{% if user in original.completed_by.all %}
  var isFinished = true;
{% else %}
  var isFinished = false;
{% endif %}

  $(function() {
    /* Setup CSRF protection. */
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    flowplayer().bind("finish", function() {
                    $('#markdone').show();
                });


    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('#id_time').datetimepicker({
      pickDate: false,
      pick12HourFormat: false,
      useSeconds: false,
      minuteStepping: 1,
      timeFormat:"HH mm",
      defaultDate: '{{ original.start_time|time:"H" }}'
    });

    $('#save').on('click', function () {
      $('#add-form').parsley().validate();
    });

    $('#add-form').parsley().subscribe('parsley:form:validate', function(form) {
      if (form.isValid()) {
        var btn = $('#save');
        btn.button('loading')

        var time = moment('{{ original.date|date:"Y-m-d" }} ' + $('#id_time').val(), "YYYY-MM-DD h:m a");

        var data = {
          //'date': time.format(),
          'date': time.format('YYYY-MM-DDTh:m:s+08:00'), // hack to override the browser timezone
          'observer': {{ user.id }},
          'camera': {{ original.camera.id }},
          'site': {{ original.camera.site.id }},
          'seen': $('#id_seen').val(),
          'comments': $('#id_comments').val(),
          'video': {{ original.id }},
          'position': $('#id_position').val(),
          'validated': isFinished
        }; 

        $.ajax({
          url: "/api/observations/",
          type: "POST",
          data: data
        }).done(function() {
          $('#addform').modal('hide');
          $('.modal-backdrop').remove();
          $('#observations tbody').append("<tr><td>" + $('#id_time').val() + "</td><td>" + $('#id_seen').val() + "</td>" + "<td>" + $('#id_comments').val() + "</td><td><a href='javascript:flowplayer().seek(" +$('#id_position').val()+ ")'>"+$('#id_position').val()+"</a></td><td><a href='?'>Reload page to delete this record</a></td></tr>");
          $('#add-form').parsley().reset();
          
          $('#add-form').find('input:text, textarea').val('');

          $('#id_time').data("DateTimePicker").setDate('{{ original.start_time|time:"H" }}');
        }).fail(function(msg) {
        }).always(function() {
          btn.button('reset');
        });

      }

    });


      window.setInterval(function(){
        var f = flowplayer();
        if (f.video.time > 0) {
          time = f.video.time;
          $('#counter').html(time+" seconds");
        } else {
          $('#counter').html('Video not started');
        }
    },100);
  });

function formFillin() {
        var f = flowplayer();
        f.pause();

        if (f.video.time > 0) {
          time = f.video.time; 
          $('#id_position').val(time);
        } else {
          $('#id_position').val(0);
        }
        $('#counter').html('Video is paused');
}

function deleteObservation(pk) {
  $.ajax({
      url: '/api/observations/'+pk+'/',
      type: 'DELETE',
      success: function(result) {
        $('#row_'+pk).hide();
      }
  });
}
function markDone(pk) {
  $.ajax({
      url: '/api/videos/'+pk+'/',
      type: 'PATCH',
      success: function(result) {
        $('#markdone').addClass('btn-danger').text('Done!')
      },
      data: { 'mark_complete':true }

    });
}

</script>
{% endblock %}
