{% extends "admin/change_list.html" %}
{% load i18n %}

{% if not is_popup %}
{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
  <li>{{ cl.opts.verbose_name_plural|capfirst }}</li>
</ol>
{% endblock %}
{% endif %}

{% block navbar %}
{% include 'admin/navbar.html' %}
{% endblock navbar %}

{% block extrahead %}
{{ block.super }}
<style>

    #changelist-filter {
        width:15%; !important
        display:inline-block;
        float:right;
        position:relative !important;
        padding-left: 6px;
    }

    .sortpriority {
        display: inline-block;
        float:left;
        color:#005;
        font-size:x-small;\
    }
    table {
        width:100% !important;
    }
</style>
{% endblock %}
