{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" />
{{ gform.media }}
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
    <script>
    $(function() {
        var pengIcon = L.icon({
            iconUrl:  "{% static 'img/Aussie_Fairy_Penguin-icon.png' %}",
            iconSize: [50, 50],
            iconAnchor: [25, 50],
            popupAnchor: [10, -50],
        });

        // create a map in the "map" div, set the view to a given place and zoom
        var map = L.map("map", {
            crs: L.CRS.EPSG4326,
            center: [-32.305, 115.695],
            zoom: 15,
            minZoom: 1,
            maxZoom: 18
        });

        // add an OpenStreetMap tile layer
        /*
        tile = {};
        tile[0] = "https://{s}.tile.osm.org/{z}/{x}/{y}.png";
        tile[1] = "https://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.png";
        tile[2] = "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}";
        L.tileLayer(tile[0], {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        */

        const mapboxStreets = L.tileLayer(
          "https://kmi.dbca.wa.gov.au/geoserver/gwc/service/wmts?service=WMTS&request=GetTile&version=1.0.0&tilematrixset=gda94&TileMatrix=gda94:{z}&TileCol={x}&TileRow={y}&format=image/png&layer=dbca:mapbox-streets",
          {
            tileSize: 1024,
            zoomOffset: -2,
          },
        ).addTo(map);

        // add a marker in the given location, attach some popup content to it and open the popup
        {% for camera in cameras %}
        L.marker([{{ camera.location.y }}, {{ camera.location.x }}], {icon: pengIcon}).addTo(map)
            .bindPopup("<a href='/observations/camera/{{ camera.pk }}'>{{ camera }}</a><br>{{ camera.video_set.count }} videos.<br>")
            .openPopup();
        {% endfor %}
    });
    </script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li>Home</li>
</ol>
{% endblock %}

{% block navbar %}
{% include 'admin/navbar.html' %}
{% endblock navbar %}

{% block content_title %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h3>Penguin island cameras (active)</h3>
    <div class="list-group">
      {% for camera in cameras %}
      <a class="list-group-item" href="{% url 'admin:observations_camera_detail' camera.pk %}">{{ camera }} - {{ camera.video_set.count }} videos, latest {{ camera.get_newest_video.get_start_datetime }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="col-xs-12 col-md-6">
    <h3>Site map</h3>
    <div id="map" style="height:400px;"></div>
  </div>

</div>
{% endblock %}
