{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script type="text/javascript">
$.backstretch("{% static 'img/login_background.jpg' %}");
</script>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block header %}{% endblock %}

{% block layout %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

<div class="container" id="login-wrapper">
  <div class="row topmast">
    <div class="agency-freespace">
      <a href="/" class="brand pull-left">
        <img alt="Government of Western Australia" src="{% static 'img/waTextBlack_80-bluebg.gif' %}">
      </a>
      <h1 class="site-logo pull-left" id="site-title">
        <a href="/">
        <img alt="Department of Parks and Wildlife" src="{% static 'img/logo-dpaw.gif' %}">
        Department of <br><strong>Parks and Wildlife</strong>
        </a>
      </h1>
    </div>
  </div>
  <div class="row login-body">
  <div class="col-xs-12">
  <form action="{{ app_path }}" method="post" id="login-form" class="form-signin" role="form">{% csrf_token %}
    <h4 class="form-signin-heading">Sign in to the Little Penguins database</h4>
    {% if form.non_field_errors or form.this_is_the_login_form.errors %}
    {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-warning-sign"></span> {{ error }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
    <blockquote>You must be a registered user to log in to this site. If you do not have an account, please contact DBCA at <a href="mailto:oim.servicedesk@dbca.wa.gov.au">oim.servicedesk@dbca.wa.gov.au</a>.</blockquote>
    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link">
      <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
    </div>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  </div>
  </div>

</div>
{% endblock %}

{% block footer %}{% endblock %}
